@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cuiabá<br />
    <abbr title="Telefone Celular">Cel:</abbr>
    (65) 99252-8588
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:gideao_souza@outlook.com">gideao_souza@outlook.com</a><br />
</address>