@{
    ViewBag.Title = "Pagina de Inicio";
}

<div class="jumbotron">
    <h1>ASP.NET + Validation Ajax</h1>
    <p class="lead">Essa aplicação usa Angular e Http.post</p>
    <p><a href="https://github.com/gideaosouza/ASP.MVC" class="btn btn-primary btn-lg">Código Fonte &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aplicação em sí</h2>
        <p>Desenvolvido para exemplificar o uso de validação por ajax ou http.post(Angular).</p>
        <p><a class="btn btn-default" href="http://sasdas123.gear.host/Pessoas">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fontes e mais informações</h2>
        <p>Guia não terminado. Daqui a pouco estarei disponibilizando as fontes que usei para criar esse exemplo e outras informações interessantes.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>